
<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
<title>Home | AVL Nursery & Primary School - Thoothukudi, Matriculation school, School, Nursery & Primary School, middle school, AVL Nursery & Primary School, Kindergaten, AVL Nursery and Primary School Thoothukudi school, sawyerpuram school education, teaching education, program education, education city, school education, higher education, education of department, ‎High school,  ‎Primary school, ‎Vocational school,‎Boarding school, student , teaching of students, school in tamilnadu, school in chennai, school in thoothukudi, school in india </title>
<meta name="author" content="AVL Nursery & Primary School - Thoothukudi">
<meta name="keywords" content="AVL Nursery & Primary School - Thoothukudi, Kindergaten, Nursery & Primary School, Matriculation school, School, middle school, AVL Nursery & Primary School, AVL Nursery and Primary School Thoothukudi school, sawyerpuram school education, teaching education, program education, education city, school education, higher education, education of department, ‎High school,  ‎Primary school, ‎Vocational school ,‎Boarding school, student	,  teaching of students, school in tamilnadu, school in chennai, school in thoothukudi, school in india ">
<meta name="description" content="AVL Nursery & Primary School - Thoothukudi, Matriculation school, School, middle school, AVL Nursery & Primary School, AVL Nursery and Primary School Thoothukudi school, sawyerpuram school education, teaching education, program education, education city, school education, higher education, education of department, ‎High school,  ‎Primary school, ‎Vocational school ,‎Boarding school, student	,  teaching of students, school in tamilnadu, school in chennai, school in thoothukudi, school in india ">
<link rel="shortcut icon" href="../assetsfavicon.ico" type="image/x-icon" />
<link href="../assets/css/style.css" rel="stylesheet" type="text/css">
<link href="../assets/css/shortcodes.css" rel="stylesheet" type="text/css">
<link href="../assets/css/responsive.css" rel="stylesheet" type="text/css">
<link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel='stylesheet' id='layerslider-css' href="../assets/css/layerslider.css" type='text/css' media='all' />
<!--prettyPhoto-->
<link href="../assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" media="all" />   
<!--[if IE 7]>
<link href="../assets/css/font-awesome-ie7.css" rel="stylesheet" type="text/css">
<![endif]-->
<!--[if lt IE 9]>
<script src="../assetshttp://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--Fonts-->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
<!--jquery-->
<script src="../assets/js/modernizr-2.6.2.min.js"></script>
<!--styles -->
    <style type="text/css">
<!--
.style2 {font-size: 16px}
.style3 {font-size: 36px}
-->
    </style>
	<SCRIPT LANGUAGE="JavaScript">  
<!-- Disable  
function disableselect(e){  
return false  
}  

function reEnable(){  
return true  
}  

//if IE4+  
document.onselectstart=new Function ("return false")  
document.oncontextmenu=new Function ("return false")  
//if NS6  
if (window.sidebar){  
document.onmousedown=disableselect  
document.onclick=reEnable  
}  
//-->  
</script>
</head>

<body>
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        <header>
            <div class="container">
                <div class="logo">
                    <a href="../assetsindex" title="AVL School"><img src="../assetsimages/logo.png" alt="Kids Life" title="AVL School"></a>
                </div>
				
                  
                <div class="contact-details">
			                    <p class="mail">
                        <a href="../assets#">info@avlmatricschool.com</a>
                        <span class="fa fa-envelope"></span>
					</p>
                    <p class="phone-no">
                        <i>044 - 24760515</i> &nbsp; | &nbsp;
						  <i>+91 9444442880</i>
                        <span class="fa fa-phone"></span>
                	</p>        
                </div>
            </div>
            <!--menu-container starts-->
            <div id="menu-container">
                <div class="container">
                    <!--nav starts-->
					
                    <nav id="main-menu">
					
                    	<div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
                        <ul id="menu-main-menu" class="menu">
                            <li class="red"> <a href="../assetsindex" title="Home Page" class="dt-sc-tooltip-top"><i class="fa fa-home"></i> Home</a>                            </li>
							 <li class="menu-item-simple-parent menu-item-depth-0 mustard"><a href="../assets#" title="About US" class="dt-sc-tooltip-top"><i class="fa fa-university"></i> About</a>
                                <ul class="sub-menu">
                                   <li><a href="../assetsaboutus">About Us</a></li>
											<li><a href="../assetsvismis">Vision & Mission</a></li>
												<li><a href="../assetsfoundermsg">Founder Message</a></li>
											<li><a href="../assetssecretarytmsg">Secretary Message</a></li>
											<li><a href="../assetsprincipalmsg">Principal Message</a></li>
											<li><a href="../assetsrules">Policies & Procedure</a></li>
                                </ul>
                            <a class="dt-menu-expand">+</a>                            </li>
							
							 <li class="menu-item-simple-parent menu-item-depth-0 green"><a href="../assets#" title="Admission Details" class="dt-sc-tooltip-top"><i class="fa fa-child"></i> Admission</a>
                                <ul class="sub-menu">
                                   <li><a href="../assetsadmissionform">Admission Form</a></li>
								   <li><a href="../assetsadmissionpro">Admission Procedure</a></li>
                                </ul>
                            <a class="dt-menu-expand">+</a>                            </li>
                
                           
                          
                          
                            
                            <li class="menu-item-megamenu-parent megamenu-3-columns-group menu-item-depth-0 steelblue"> <a href="../assets#" title="Academics Details" class="dt-sc-tooltip-top"><i class="fa fa-graduation-cap"></i>  Academics</a> 
                            
                                <div class="megamenu-child-container">
                                    <ul class="sub-menu">
                                        <li> <a href="../assets#"><i class="fa fa-list"></i> Programmes</a>
                                            <ul class="sub-menu">
                                               <li><a href="../assetskg">Kindergarten</a></li>
											   <li><a href="../assetscourse">Course Details</a></li>
											   	<li><a href="../assetsfacultydetail">Faculties Details</a></li>
												 <li><a href="../assetsrules">Rules & Regulations</a></li>
												<li><a href="../assetsachievement">Achievements</a></li>
											<li><a href="../assetscareerguide">Career Guidance</a></li>
											
												<li><a href="../assetsscholorship">Scholorships</a></li>
											<li><a href="../assetsadvertisement">Advertisements</a></li>
                                            </ul>
                                            <a class="dt-menu-expand">+</a>                                        </li>
                                        <li> <a href="../assets#"><i class="fa fa-list"></i> Facilities</a>
                                            <ul class="sub-menu">
                                              <li><a href="../assetscampustour">Campus Tour</a></li>
											<li><a href="../assetscomputerlab">Computer Lab</a></li>
											<li><a href="../assetssciencelab">Science Lab</a></li>
											<li><a href="../assetslibrary">Library</a></li>
										<li><a href="../assetssmartclass">Smart Class</a></li>
											
											
											
											<li><a href="../assetstransport">Transport</a></li>
												<li><a href="../assetsplayground">Play Ground</a></li>
												<li><a href="../assetsmedicalcheckup">Medical Checkup</a></li>
                                            </ul>
                                            <a class="dt-menu-expand">+</a>                                        </li>
										 <li> <a href="../assets#"><i class="fa fa-list"></i> Downloads</a>
                                            <ul class="sub-menu">
                                             <li><a href="../assetsadmissionform">Admission Form</a></li>
											<li><a href="../assetsrules">Policies & Procedure</a></li>
											<li><a href="../assetsacademiccal">Academic Calendar</a></li>
											<li><a href="../assetssyllabus">Syllabus</a></li>
											<li><a href="../assetstextbook">Textbook</a></li>
												
												<li><a href="../assetsmagazine">Magazine</a></li>
											<li><a href="../assetsannualreport">Annual Report</a></li>
											
											<li><a href="../assetsnewsletter">News Letter</a></li>
                                            </ul>
                                            <a class="dt-menu-expand">+</a>                                        </li>
                                    </ul>
                                </div>
                                <a class="dt-menu-expand">+</a>                            </li>
							  <li class="menu-item-simple-parent menu-item-depth-0 blue"><a href="../assets#" title="Extra Curricular Activities" class="dt-sc-tooltip-top"><i class="fa fa-trophy"></i> Activities</a>
                                <ul class="sub-menu">
                                   <li><a href="../assetsproject">Projects</a></li>
									<li><a href="../assetssports">Sports & Games</a></li>
									<li><a href="../assetsartmusic">Art & Music</a></li>
									<li><a href="../assetskarathe">Karathe</a></li>
									<li><a href="../assetsyoga">Yoga</a></li>
									<li><a href="../assetsdance">Dance</a></li>
											<li><a href="../assetsannualday">Annual Day</a></li>
                                </ul>
                            <a class="dt-menu-expand">+</a>                            </li>
							  <li class="yellow"> <a href="../assetsgallery" title="School Album" class="dt-sc-tooltip-top"><i class="fa fa-photo"></i> Gallery</a> </li>
                            <li class="menu-item-simple-parent menu-item-depth-0 lavender"><a href="../assets#" title="News and Events" class="dt-sc-tooltip-top"><i class="fa fa-calendar"></i>  News & Events</a>
                                <ul class="sub-menu">
                                
                                           <li><a href="../assetsevents">Events</a></li>
										<li><a href="../assetsannoncement">Annoncements</a></li>
                              </ul>
                            <a class="dt-menu-expand">+</a>                            </li>
                    
                            <li class="current_page_item pink"><a href="../assetscontact" title="Get in Touch" class="dt-sc-tooltip-top"><i class="fa fa-envelope"></i> Contact us</a></li>
                        </ul>
                    </nav>
                    <!--nav ends-->

                    <ul class="dt-sc-social-icons">
                        <li><a href="../assets#" title="Facebook" class="dt-sc-tooltip-top facebook"><span class="fa fa-facebook"></span></a></li>
						    
                       
                        <li><a href="../assets#" title="Google Plus" class="dt-sc-tooltip-top gplus"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </div>
            <!--menu-container ends-->
        </header>
        <!--header ends-->
        <!--main starts-->
        <div id="main">
        	<!--breadcrumb-section starts-->
            <div class="breadcrumb-section">
            	<div class="container">
                	<h1>404 Error Page</h1>
                    <div class="breadcrumb">
                        <a href="../assetsindex">Home</a>
                        <span class="fa fa-angle-double-right"></span>
                        <span class="current">404</span>
                    </div>
                </div>
            </div>
            <!--breadcrumb-section ends-->
			   <div class="container">
            	<!--primary starts-->
            	<section id="primary" class="content-full-width">
		<h2 class="dt-sc-hr-green-title">404</h2>
	<div align="center">
                        <div class="dt-sc-error-box" align="center">
                            <p align="center">Sorry, This page doesn't exist.</p>
                        </div>
						<a href="../assetsindex" class="dt-sc-button xlarge mustard">Please, continue to our Home page<span class="fa fa-chevron-circle-right"> </span></a>
                  </div>
					<div class="dt-sc-clear"></div>
                        
				
		
		
	</section>
	</div>
			</div>
	   <!--footer starts-->
      <footer>
            <!--footer-widgets-wrapper starts-->
            <div class="footer-widgets-wrapper">
                <!--container starts-->
                <div class="container">
                    
                    <div class="column dt-sc-one-fourth first">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle red_sketch"> About AVL School</h3>
                            <p><a href="../assets#"><strong>AVL Nursery & Primary School </strong></a> Situated in the heart of Caldwell Colony at the District of Thoothukudi, Tamil Nadu, South India. This is a Christian minority English medium Nursery school, offering 32 years of study from KG to 5th Standard. </p>
							<img src="../assetsimages/footerlogo.png" height="70%" width="70%" align="absmiddle">
                           
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
                <aside class="widget widget_text">
				  <h3 class="widgettitle green_sketch">Quick Links</h3>
						<ul>
                           <li class="fa-home"><a href="../assetsindex"> Home</a></li>
								<li><a href="../assetsaboutus">About</a></li>
								<li><a href="../assetsacademics">Academics</a></li>
						<li><a href="../assetsevents">News & Events</a></li>
								<li><a href="../assetscontact">Enquiry</a></li>
								<li><a href="../assetsgallery">Gallery</a></li>
								<li><a href="../assetsactivities">Activities</a></li>
								<li><a href="../assetsadmissionform">Admission Form</a></li>
								<li><a href="../assetsrules">Rules</a></li>
								<li><a href="../assetssitemap">Sitemap</a></li>
								</ul>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
          <aside class="widget widget_text">
		              <h3 class="widgettitle yellow_sketch">Usefull Links</h3>
                            	<ul>
								<li><a href="../assetshttp://tnmatricschools.com/">DOMS Portal</a></li>
								<li><a href="../assetshttp://www.textbooksonline.tn.nic.in/">Textbook Portal</a></li>
								<li><a href="../assetshttp://www.tn.gov.in/department/28">TN Portal</a></li>
								<li><a href="../assetshttp://www.tnschools.in/">TN School</a></li>
								<li><a href="../assetshttps://tnschools.gov.in/">TNSED Portal</a></li>
								<li><a href="../assetshttp://www.tn.gov.in/schooleducation/">TN School Education</a></li>
								<li><a href="../assetshttp://www.sakshat.ac.in/"> An online Education Portal of MHRD</a></li>
								<li><a href="../assetshttp://mhrd.gov.in/">MHRD Portal</a></li>
							</ul>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <aside class="widget widget_text">
                        <h3 class="widgettitle steelblue_sketch">Contact</h3>
                            <div class="textwidget">
                                <p class="dt-sc-contact-info"><span class="fa fa-map-marker"></span> 5/192-B, IV Street, Caldwell Colony<br>  Thoothukudi District </p>
                                <p class="dt-sc-contact-info"><span class="fa fa-phone"></span> +91 9444442880 </p>
								   <p class="dt-sc-contact-info"><span class="fa fa-mobile"></span> 044 - 24760515 </p>
                                <p class="dt-sc-contact-info"><span class="fa fa-envelope"></span><a href="../assetsmailto:info@avlmatricschool.com"> info@avlmatricschool.com </a></p>
                            </div>
                        </aside>
                        <aside class="widget mailchimp">
                            <p> We're social </p>
                            <form name="frmnewsletter" class="mailchimp-form" action="http://wedesignthemes.com/html/kidslife/php/subscribe.php" method="post">
                                <p>
                                    <span class="fa fa-envelope-o"> </span>
                                    <input type="email" placeholder="Email Address" name="mc_email" required />	
                                </p>	
                                <input type="submit" value="Subscribe" class="button" name="btnsubscribe">
                            </form>
                            <div id="ajax_subscribe_msg"></div>
                        </aside>
                    </div>
                    
                </div>    
                <!--container ends-->
            </div>
            <!--footer-widgets-wrapper ends-->  
            <div class="copyright">
        		<div class="container">
                	<p class="copyright-info">© 2016 AVL Nursery & Primary School. All rights reserved.</p>
        			<div class="footer-links">
                       <span><a href="../assetshttp://www.bijdesigner.com"><img src="../assetsimages/Company Logo SBIJ.png" alt="Logo" width="150" height="75"  onMouseOver="this.src ='images/Company Logo SBIJd.png'" onMouseOut="this.src ='images/Company Logo SBIJ.png'"  align="right"></a></span>
                    </div>
        		</div>
        	</div>  
        </footer>
        <!--footer ends-->
        
    </div>
    <!--wrapper ends-->
    <a href="../assets#" title="Go to Top" class="back-to-top">To Top ↑</a>
    <!--Java Scripts-->
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
	<script type="text/javascript" src="../assets/js/jquery-migrate.min.js"></script>

    
	<script type="text/javascript" src="../assets/js/jquery.tabs.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery-easing-1.3.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.inview.js"></script>

    <script type="text/javascript" src="../assets/js/shortcodes.js"></script>
    <script type="text/javascript" src="../assets/js/validation.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.tipTip.minified.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="../assets/js/twitter/jquery.tweet.min.js"></script>    
    <script src="../assetshttp://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="../assets/js/jquery.gmap.min.js"></script> 
    <script type="text/javascript" src="../assets/js/shortcodes.js"></script>      
    <script type="text/javascript" src="../assets/js/custom.js"></script>
    
</body>

</html>